/* cores padrão */
:root {
    --bg-color: #ffffff;     /* fundo claro */
    --text-color: #212529;   /* texto escuro */
}


/* cores escuras */
html.modo-escuro {
    --bg-color: #121212;     /* fundo escuro */
    --text-color: #f8f9fa;   /* texto claro */
}

/*isso força o html a usar as cores css e não do bootstrap*/
html, body {
    background-color: var(--bg-color) !important;
    color: var(--text-color) !important;
    transition: background-color 0.4s ease, color 0.4s ease; /* hover pra trocar os modos devagar */
}

/* muda a cor da navbar tb*/
html.modo-escuro .navbar {
    background-color: #1f1f1f !important;
    transition: background-color 0.4s ease;/* hover pra trocar os modos devagar */
}

/* muda a cor do texto da nav*/
html.modo-escuro .navbar-brand {
    color: #f8f9fa !important;
}

/* faz o botao escurecer no modo escuro*/
html.modo-escuro #modos {
    color: #f8f9fa;          /* Texto branco */
    border-color: #f8f9fa;   /* Borda branca */
    background-color: transparent;
}




/* ALTERNAR ENTRE CLARO E ESCURO*/

.conteudo-claro {
    display: block;
}
.conteudo-escuro {
    display: none;
}
/* aqui vai deixar o conteudo claro aparecendo e o escuro apagado*/

.modo-escuro .conteudo-claro {
    display: none;
}
.modo-escuro .conteudo-escuro {
    display: block;
}
/* aqui troca o que aparece quando apertamos o botao e mudamos o modo*/


/* arrumando a navbar, deixando maior e tirando o conteudo de baixo*/
body {
    padding-top: 90px !important; /* dá um espaçamento no topo pra não ficar em cima da navbar */
}
.topo-da-tela {
    font-size: 2.5rem !important;
    color: var(--text-color) !important;
    max-height: 90px !important;
    max-width: 40% !important;
}
.botao-maior {
    font-size: 1.5rem !important;
    color: var(--text-color) !important;
    max-height: 90px !important;
    max-width: 40% !important;
}
.navbar {
    max-height: 90px !important;
}

/* arrumando a mini biografia e foto*/

.foto-perfil {
    width: 100% !important;
    height: auto !important;
    max-width: 100% !important;
    padding: 5% !important;
}

/*===============FONTES===============*/

.inter-400 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inter-900 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}


/*===============FONTES================*/



/*==========NEON AZUL==========*/
.neon-azul-vazado {
    color: transparent !important;
    -webkit-text-stroke: 1.5px #00d2ff;
    filter: drop-shadow(0 0 5px #00d2ff);
}
.neon-azul {
    color: #00d2ff !important;
    text-shadow: 0 0 3px rgba(0, 210, 255, 0.4),
        0 0 6px rgba(0, 210, 255, 0.2);
    display: inline-block;
}
/*===================================================*/



/*==========NEON ROSA==========*/
.neon-rosa-vazado {
    color: transparent !important;
    -webkit-text-stroke: 1.5px #ff00ff;
    filter: drop-shadow(0 0 5px #ff00ff);
}

.neon-rosa {
    color: #ff00ff !important;
    text-shadow: 0 0 3px rgba(255, 0, 255, 0.4),
        0 0 6px rgba(255, 0, 255, 0.2);
    display: inline-block;
}
/*===================================================*/



/*==========HABILITA O PISCA PISCA AZUL==========*/
.piscante {
    animation: piscar-neon 1.5s infinite alternate;
}

@keyframes piscar-neon {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
        filter: drop-shadow(0 0 5px #00d2ff);
        opacity: 1;
    }
    20%, 24%, 55% {        
        filter: none;
        opacity: 0.2;
    }
}
/*===================================================*/



/*==========HABILITA O PISCA PISCA ROSA==========*/
.piscante-rosa {
    animation: piscar-neon-rosa 1.5s infinite alternate;
}

@keyframes piscar-neon-rosa {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
        filter: drop-shadow(0 0 5px #ff00ff);
        opacity: 1;
    }
    20%, 24%, 55% {        
        filter: none;
        opacity: 0.2;
    }
}
/*===================================================*/
